      body {
        background: url('../img/bg.jpg') repeat;
        padding-top: 20px;
        padding-bottom: 60px;
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 1000px;
      }
      .container > hr {
        margin: 60px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .app img {
        margin-left: -40px;
      }
      .jumbotron h1, h2, h3, h4, h5, h6 {
        font-family: helvetica neue;
        font-weight: 200;
      }

      .jumbotron h1 {
        font-size: 38px;
        line-height: 1;
        /*text-transform: uppercase;*/
        /*font-weight: bold;*/
        letter-spacing: -1.5px;
        color:#ff6055;
        text-shadow: 1px 1px #fff;
      }
      .jumbotron h2 {
        font-size: 43px;
        line-height: 1;
        letter-spacing: -1.5px;
        text-shadow: 1px 1px #fff;
        /*font-family: helvetica neue;
        font-weight: 200;*/
      }
      .jumbotron h3 {
        font-size: 22px;
        line-height: 1;
        color:#ff6055;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }

      /*box styling*/
      .box {
        background: url('../img/bg-box.png') repeat;
        box-shadow: 0 0 5px #aaa inset;
        width: 275px;
        margin: auto auto;
        padding: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

 /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
      }

      .top-feature {
        height: 600px;
      }

      .features {
        height: 400px;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }

      #footer {
        background-color: #ededed;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */
      .credit {
        margin: 20px 0;
      }